<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadPartial"></partial>
</head>

<body id="bg">
    <div class="page-wraper">
        <!-- Preloader -->
        <partial name="_PreloaderPartial"></partial>

        <!-- Header -->
        <header class="site-header header style-1">
            <partial name="_HeaderPartial"></partial>
            <div class="d-flex justify-content-end align-items-center gap-3" style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%); z-index: 10; padding-left: 20px;">
                @RenderSection("ExtraNav", required: false)
            </div>
        </header>


        <!-- Main Content -->
        <main class="page-content">
            @RenderBody()
        </main>

        <!-- Footer -->
        <footer class="site-footer style-1 overlay-primary-light" style="background-image: url(~/images/background/bg4.webp)">
            <partial name="_FooterPartial"></partial>
        </footer>

        <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>
    </div>
    <partial name="_ScriptsPartial"></partial>


</body>
</html>